
div {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
  padding: 40px;
  width: 25%;
  float: left;
  margin-left: 20px;
  font-size: 20;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}

div[class="primary"] {
  background-color: rgb(126, 126, 219);
}

div[class="secondary"]{
  background-color: rgb(157, 221, 126);
}
div[id="down"]{
  background-color: rgb(255, 0, 0);
}
button{
  font-size: 16;
}
